
<launch>
    <rosparam file="$(find config)/cfg/RC2021.yaml" command="load" />
    <!-- <node pkg="imu" type="imu_node" name="imu_node" output="screen" respawn="true" /> -->
    <node pkg="config" type="config_node" name="config_node" output="screen" respawn="true" />
    <node pkg="cam" type="cam_node" name="cam_node" output="screen" respawn="true" />
    <node pkg="image_deal" type="image_deal_node" name="image_deal_node" output="screen" respawn="false" />
    <node pkg="yolov5" type="yolov5_node" name="yolov5_node" output="screen" respawn="true" />
    <node pkg="serial_com" type="serial_com_node" name="serial_com_node" output="screen" respawn="false" />
</launch>

